
<div class="page-width">
  <div style="padding-top:{{ section.settings.range-top-setting }}px;padding-bottom:{{ section.settings.range-bottom-setting }}px">

      <div class="about-us-cover">

        <div class="image"> <img src="{{ section.settings.image-picker-setting | image_url: width: 1000 | image_tag  }}" />  </div>

         <div class="right-side"> <img src="{{ section.settings.image-picker-setting | image_url: width: 1000 | image_tag  }}" />  </div>
      
      
      </div>
    


  </div>
</div>


{% schema %}
  {
    "name": "about us",
    "settings": [
          {
            "type": "image_picker",
             "id": "image-picker-setting",
            "label": "Select Image"
          },
          {
            "type": "text",
             "id": "title-first-setting",
              "label": "write title first"
          },
         {
            "type": "text",
             "id": "title-second-setting",
              "label": "write title second"
          }
          ,
         {
            "type": "text",
             "id": "content-setting",
              "label": "write content"
          },
    ]
    ,
    "presets": [
      {
         "name": "about us"
      }
    ]
  }
{% endschema %}