<div class="page-width">

  {{ section.settings.richtext-setting }}

  
</div>


{% schema %}
  {
    "name": "custom rich text",
    
    "settings": [
       {
          "type": "richtext",
           "id": "richtext-setting",
           "label": "write text",
            "default": "<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidun..<p>"
        }
      ,{
        "type": "range",
        "id": "range-top-setting",
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 20
      }
      ,{
        "type": "range",
        "id": "range-bottom-setting",
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding-Bottom",
        "default": 20
      }
    ],
    "presets": [
      {"name": "custom rich text"}
    ]
    
  }
{% endschema %}

