
{% stylesheet %}
.marquee{
    overflow: hidden;
    background:gray;
    position: relative;
    white-space: nowrap;
    width: 100%;
}
p{
    animation: scroll-left 10s linear infinite;
}


@keyframes scroll-left {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
{% endstylesheet %}


  <div class="marquee">
      {{ section.settings.text-setting }}
    </div>


{% schema %}
  {
    "name": "Merqee",
    "tag": "section",
    "settings": [
        {
          "type": "text",
          "label": "Enter Text",
          "id": "text-setting",
          "default":"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown dummy Lorem Ipsum has been the industry's stand....."
        }
    ],
    "presets": [

        {"name": "Merqee"}
      
    ]
  }
{% endschema %}