<div class="page-width"> 
  
  {% for product in section.settings.product_list-setting %}

   {{ product.featured_image | image_url: width: master | image_tag }}
     <strong>{{ product.title }} </strong> 
      <p> {{ product.price | money }} </p>
   

{% endfor %}

</div>




{% schema %}
  {
    "name": "Store Products",
     "class": "store-product-cover" ,
      "settings": [
      {
          "type": "product_list",
          "id": "product_list-setting",
          "label": "Select Products"
        }
      ],
    
    "presets":[
      {
          "name" : "Store Products"
        }  
    ]
  }
{% endschema %}