<div class="page-width">

  
  {{ section.settings.text-setting }}

  
</div>


{% schema %}
  {
    "name": "the story",
    
    "settings": [
       {
          "type": "text",
           "id": "text-setting",
           "label": "write text",
          
        }
    ],
    "presets": [
      {"name": "the story"}
    ]
    
  }
{% endschema %}

