<div class="page-width">


  <div style="padding-top:{{ section.settings.range-top-setting }}px;padding-bottom:{{ section.settings.range-bottom-setting }}px">

  <div class="collection-title scroll-trigger animate--slide-in"> 
 

    <div class="top">
          
         <h2 class="font">
              {{ section.settings.text-setting }}
        </h2>
        

          
    </div>

      <p>  {{ section.settings.text-setting }} </p>
  
  </div>
  



  
</div>

</div>



{% schema %}
  {
    "name": "the story",
    
    "settings": [
       {
          "type": "text",
           "id": "text-setting",
           "label": "write text",
          
        }
    ],
    "presets": [
      {"name": "the story"}
    ]
    
  }
{% endschema %}

