<div class="page-width">


  <div style="padding-top:{{ section.settings.range-top-setting }}px;padding-bottom:{{ section.settings.range-bottom-setting }}px">

  <div class="collection-title scroll-trigger animate--slide-in"> 
 

    <div class="top">
          
         <h2 class="font">
              {{ section.settings.text-setting }}
        </h2>

      <div class="line"> </div>  

          
    </div>

      <p>  {{ section.settings.text-setting }} </p>
  
  </div>
  



  
</div>

</div>



{% schema %}
  {
    "name": "the story",
    
    "settings": [
       {
          "type": "text",
           "id": "text-setting",
           "label": "write text",
          
        }
      ,{
        "type": "range",
        "id": "range-top-setting",
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top",
        "default": 20
      }
      ,{
        "type": "range",
        "id": "range-bottom-setting",
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding-Bottom",
        "default": 20
      }
   
    ],
    "presets": [
      {"name": "the story"}
    ]
    
  }
{% endschema %}

