.line {
  width: 7%;
  height: 4px;
  background: #000;
  margin: 0 auto;
}

.testimonial-cover {
  width: 70% !important;
  margin: 0 auto;
}

.testimonial-cover p {
  margin-bottom: 30px;
}

.testimonial-collection .slick-slide {
  padding: 0 40px;
}

.testimonial-collection .slick-prev,
.slick-next {
  top: 28%;
}

.slick-prev:before,
.slick-next:before {
  font-family: inherit !important;
}

.slick-next:before {
  content: "";
  background-image: url('{{ "slick-next.svg" | asset_url }}');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}

.slick-prev:before {
  content: "";
  background-image: url('{{ "slick-back.svg" | asset_url }}');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}

.testimonial-cover .slick-prev:before,
.testimonial-cover .slick-next:before {
  color: black;
}
