.line {
  width: 7%;
  height: 4px;
  background: #000;
  margin: 0 auto;
}

.top h2.font {
  font-size: 43px;
}
.banner__text p {
  color: white;
  margin-bottom: 10px !important;
}
.testimonial-cover {
  width: 70% !important;
  margin: 0 auto;
}

.product-collections p {
  text-align: center;
  color: black;
  font-weight: 600;
}

.testimonial-cover p {
  margin-bottom: 30px;
}

.testimonial-collection .slick-slide {
  padding: 0 40px;
}

.testimonial-collection .slick-prev,
.slick-next {
  top: 28%;
}

.product-collections img {
  width: 100%;
  height: fit-content;
  max-height: 512px;
  object-fit: cover;
}

/* .product-collections img {
  width: 100%;
  height: fit-content;
  max-height: 512px;
  object-fit: cover;
} */
.slick-prev:before,
.slick-next:before {
  font-family: inherit !important;
}

.slick-next:before {
  content: "";
  background-image: url('{{ "slick-next.svg" | asset_url }}');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}

.slick-prev:before {
  content: "";
  background-image: url('{{ "slick-back.svg" | asset_url }}');
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 24px;
  height: 24px;
}

.testimonial-cover .slick-prev:before,
.testimonial-cover .slick-next:before {
  color: black;
}

.product-collections {
  gap: 26px;
  display: flex;
}

/* .collection-title {
  display: grid;
  grid-template-columns: 1fr 1.6fr;
} */
.show-more {
  display: flex;
  align-items: center;

  justify-content: end;
  gap: 10px;
}
.show-more img {
  width: 6%;
}

.best-seller-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: black;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 0;
  text-transform: uppercase;
}

h2.banner__heading.inline-richtext {
  margin: 0;
}

.product img {
  width: 100%;
  max-height: 512px;
  object-fit: cover;
  margin-bottom: 15px;
  height: fit-content;
}
.collection-title.scroll-collection {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product.slick-slide {
  position: relative;
  margin: 0 3px;
}
.show-more {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  position: absolute;
  right: 0;
}
.scroll-button .show-more img {
  width: 17%;
}

.scroll-button {
  display: flex;
  gap: 28px;
  justify-content: right;
  position: absolute;
  right: 0;
}
.scroll-button button {
  border: none;
  padding: 15px;
  cursor: pointer;
}
.scroll-button span {
  display: flex;
  gap: 20px;
}

.collection-title.scroll-collection .top {
  width: 100%;
}
.collection-title .top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.blog-section {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.side-blog a {
  display: flex;
  margin-bottom: 25px;
  gap: 30px;
}

.main-blog a h2,
.side h2 {
  margin: 0;
}

.side {
  max-width: 440px;
}

/* .side-blog img {
  width: 42%;
} */
.main-blog img {
  width: 100%;
  height: fit-content;
}
.main-blog {
  width: 50%;
}
.main-blog a p,
.side p {
  margin: 0;
}
.side-blog {
  width: 50%;
}
.side-blog img {
  width: 100%;
  max-width: 300px;
  height: fit-content;
}

.footer__blocks-wrapper.grid.grid--1-col.grid--2-col.grid--4-col-tablet.scroll-trigger.animate--slide-in {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
}
.grid--1-col .grid__item {
  max-width: 100%;
  width: 100% !important;
}

.list-payment {
  justify-content: start !important;

  gap: 4px;
}

.footer-block__heading {
  margin-bottom: 3rem;
  margin-top: 0;
  font-size: 20px !important;
  text-align: start;
}

.footer-block__newsletter {
  flex-grow: 0 !important;
}
.footer-block--newsletter {
  align-items: start !important;
  margin-top: 0 !important;
  flex-direction: column;
  gap: 0px !important;
  justify-content: start !important;
}
ul.list.list-payment {
  margin: 0 !important;
  padding: 0 !important;
}

.footer__payment {
  margin: 0 !important;
}

.footer-block--newsletter p {
  margin: 0 !important;
}

.subscribe-button {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  border: 1px solid;
  padding: 11px 22px;
  width: 100%;
  border-top: none;
  text-align: start;
  margin-bottom: 20px;
}

.products-cover {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}
.products-cover p {
  margin: 0;
}
.products-cover .product {
  text-align: center;
}
.products-cover img {
  margin: 0;
}

.product-form__input--pill input[type="radio"] + label {
  border-radius: 0 !important;
}
.main-slider img {
  margin: 0 auto;
  margin-bottom: 30px;
  object-fit: contain;
  background: gainsboro;
  max-height: 720px;
}
.thumbnail-slider img {
  max-height: 327px;
}

.header-title-cover h2 {
  color: white;
}
