@media only screen and (max-width: 480px) {
  .product-collections,
  .collection-title .top {
    flex-direction: column;
  }

  .collection-title.scroll-collection .top {
    width: 100%;
    text-align: center;
    gap: 15px;
    margin-bottom: 10px;
  }

  .collection-title,
  .collection-title.scroll-collection {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .scroll-button {
    justify-content: center;
  }

  h2.font {
    font-size: 22px !important;
    margin: 0;
  }

  .testimonial-collection .slick-slide {
    padding: inherit;
  }

  .line {
    width: 39%;

    margin: 16px auto;
  }
  .product.slick-slide {
    margin: 3px;
  }

  .testimonial-cover {
    width: 82% !important;
  }
}
