@media only screen and (max-width: 480px) {
  .product-collections,
  .collection-title .top {
    flex-direction: column;
  }

  .collection-title.scroll-collection .top {
    width: 100%;
    text-align: center;
  }

  .collection-title,
  .collection-title.scroll-collection {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
